{% extends "template.html" %}

{% block content %}
   body style="background-color:#dadada;">
<div class="row">
    <div class="col-md-3">
        <p>In the development of the site, you can scan the QR code to support us.</p>
            <img width="200px" height="300px" src="/static/img/ali2.png">
    </div>
     <div class="col-md-3">
        <p>Get in touch with us.</p><br>
            <img width="200px" height="300px" src="/static/img/wardvx.png">
    </div>
</div>

    <br>
    <br>
    <br>
</body>
{% endblock %}
