{% extends "template.html" %}
{% block content %}
<body >

    <div style="background-color:white;height:auto;width:30%;float:left;box-sizing: border-box;">
        <h1 style="background-color: black;color:#FFFFFF;">Subjects</h1>
        {% for subject in subjects %}
        <a href="subject/{{subject.id}}" style="color:black">{{subject.name}}</a><br>        
        {%endfor%}
    </div>
    <div style="background-color:white;height:1423px;width:700px;float: left;box-sizing: border-box;">
   <h1 style="background-color: black;color:white;">Top5 Articles</h1>
  
   {% for article in articles %}
   &emsp;<a href="article/{{ article.id }}" style="color:black">{{ article.title }}</a><br>
    {% endfor %}



   &emsp;
   <h1 style="background-color:black;color:white;">All Articles</h1>
   {% for article in totalart %}
   &emsp;
   <a href="article/{{article.id}}" style="color:black">{{article.title}}<span style="float: right;" style="color:black">{{article.time}}</span></a><br>
  {%endfor%}
    </div>

</body>
{%  endblock  %}
