{% extends "template.html" %}

{% block content %}
    {% if message %}
        {{ message }}
    {% endif %}

    {% if articles%}
        <table class="table table-hover table-striped">
    <thead>
      <tr>
          <th>subject</th>
          <th>title</th>
          <th>abstract</th>
          <th>highlight</th>
          <th>author</th>
          <th>time</th>
          <th>popularity</th>
      </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td><a href="/subject/{{ article.subject_id }}">{{ article.subject.name }}</a></td>
            <td><a href="/article/{{ article.id }}">{{ article.title.replace(kwd, '<span style=\"background-color:yellow\">'+kwd+'</span>').replace(kwd1, '<span style=\"background-color:yellow\">'+kwd1+'</span>').replace(kwd2, '<span style=\"background-color:yellow\">'+kwd2+'</span>').replace(kwd3, '<span style=\"background-color:yellow\">'+kwd3+'</span>') | safe }}</a></td>
	    <td>-</td>
	    <td>-</td>
            <td>{{ Tool.email_display_filter(article.author.mail) }}</td>
	    <td>-</td>
            <td>{{ article.metric }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

    {% endif %}


    {% if comments%}
        <table class="table table-hover table-striped">
    <thead>
      <tr>
          <th>article_title</th>
        <th>comment</th>
        <th>time</th>
        <th>author</th>
      </tr>
    </thead>
    <tbody>
        {% for comment in comments %}
        <tr>
            <td><a href="/article/{{ comment.article_id }}">{{ comment.article.title.replace(kwd, '<span style=\"background-color:yellow\">'+kwd+'</span>').replace(kwd1, '<span style=\"background-color:yellow\">'+kwd1+'</span>').replace(kwd2, '<span style=\"background-color:yellow\">'+kwd2+'</span>').replace(kwd3, '<span style=\"background-color:yellow\">'+kwd3+'</span>') | safe }}</a></td>
            <td>{{ Tool.sensitive_words_filter(comment.body) }}</td>
            <td>{{ comment.time.strftime("%Y-%m-%d %H:%M") }}</td>
            <td><a href="/author/{{ comment.author_id }}">{{ Tool.email_display_filter(comment.author.mail) }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
    {% endif %}

{% endblock %}
