{% extends "template.html" %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.1.0/js/all.js"></script>


</head>
<body>


{% block head %}

    <script>
        function postArticle() {
            document.myform.action="/edit"
        }

        function createSubject() {
            document.myform.action="/edit_subcategory"
        }

        function verify() {
            htmlobj=$.ajax({url:"/check/" + document.getElementById('email').value ,async:false});
            //alert(JSON.stringify(htmlobj.responseText))
            let flag = String(htmlobj.responseText)
            if(flag==='true\n') {
                alert('Your email has been banned!')
                return false
            }else {
                return true
            }

        }
    </script>

{% endblock %}

{% block content %}

    <table class="table table-hover table-striped" id="myTable">
    <thead>
      <tr>
          <!-- Click "Title" to sort by names, and "Popularity" to sort by country.
The first time you click, the sorting direction is ascending (A to Z).
Click again, and the sorting direction will be descending (Z to A):-->
        <th style=" cursor: pointer;" onClick="sortTable(0) "><button class="btn btn-primary">Title</button></th>
        <th>author</th>
        <th>time</th>
          <th style=" cursor: pointer;" onClick="sortTable(3) "><button class="btn btn-primary">Popularity</button></th>

      </tr>
    </thead>
    <tbody>
        <!--Edit-->
        <br><div class="card">
    <div class="card-body">
      <p class="card-text">You are in {{ url }}</p>
        <a href="{{lasturl}}">返回上一级</a>
        <form name="myform" method="get" onSubmit="return verify();">
            <input type="text" name="subject_id" style="display: none" value={{ subject_id }}>
            <input type="email" name="email" id="email" placeholder="Enter Email to post or create" required/><br><br>
        <button type="submit" class="btn btn-primary" onClick="postArticle()">post article</button>
        <button type="submit" class="btn btn-primary" onClick="createSubject()">add subcategory</button>
        <input type="checkbox" name="add_father" value="father" /> add main subject
        </form>
    </div>
  </div><br>
        <!--Edit end-->
    {% if hot_article %}
            {% for hot_article in hot_article %}

           <!--hot article-->
        <tr>
        <td><a href="/article/{{ hot_article.id }}">{{ hot_article.title }}</a></td>
        <td>{{ Tool.email_display_filter(hot_article.author.mail) }}</td>
        <td>{{ hot_article.time.strftime("%Y-%m-%d %H:%M") }}</td>
        <td>{{ hot_article.metric }}&emsp;<span class="badge badge-danger">Hot</span></td>
        </tr>
            {% endfor %}

    {% endif %}

        <!--./hot article end-->
    {% for article in articles.items %}
        <tr>
            <td><a href="/article/{{ article.id }}">{{ article.title }}</a></td>
            <td><a href="{{ url_for('author', author_id=article.author_id) }}">{{ Tool.email_display_filter(article.author.mail) }}</a></td>
        <td>{{ article.time.strftime("%Y-%m-%d %H:%M") }}</td>
        <td>{{ article.metric }}</td>
      </tr>
    {% endfor %}


    </tbody>
  </table>

  {% for page_num in articles.iter_pages() %}
    {% if page_num %}
      {% if articles.page == page_num%}
        <a class="btn btn-info mb-4" href="{{ url_for('get_subject', subjectID=subject_id, page=page_num)}}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('get_subject', subjectID=subject_id, page=page_num)}}">{{ page_num }}</a>
      {% endif %}
    {% endif %}
{% endfor %}

<script>
/*
This funcion is used to sort the articles by popularity or title.
When it is sorted by title ,it should be sorted in dictionary order.
Else when it is sorted by popularity,it should be sorted in comparing with its value.
*/
var dir = "asc"//Now point the button,it should sort in ascending order,and sort in descending order when point again.
function sortTable(n) {
  //alert("sweet texts".localeCompare("physical sciences cook book"));
  var table, rows, switching, i, x, y, shouldSwitch, switchcount = 0;
  table = document.getElementById("myTable");
  rows = table.rows;
  /*Bubble sort：*/
  for(i = 1;i < (rows.length - 1);i++){//Enumerate each one to set from the front to the back
    for(j = (rows.length - 1);j >= i+1;j--){//Exchange the largest or smallest to the front
        shouldSwitch = false;//Record whether it will be switched
        x = rows[j].getElementsByTagName("TD")[n];
        y = rows[j - 1].getElementsByTagName("TD")[n];
        if(n==3){//if n!=3 that means we should sort by popularity,so we should compare by its value.
            if (dir == "asc") {
                if (parseFloat(x.innerText) > parseFloat(y.innerText)) {
                  shouldSwitch = true;
                }
            } else if (dir == "desc") {
                if (parseFloat(x.innerText) < parseFloat(y.innerText)) {
                  shouldSwitch = true;
                }
            }
        }else {//if n=3 that means we should sort by title,so we should compare in dictionary order.
            if (dir == "asc") {
                if (x.innerText.toLowerCase().localeCompare(y.innerText.toLowerCase()) == 1) {
                  shouldSwitch = true;
                }
            } else if (dir == "desc") {
                if (x.innerText.toLowerCase().localeCompare(y.innerText.toLowerCase()) == -1) {
                  shouldSwitch = true;
                }
            }
        }
        if (shouldSwitch) {// if should switch,then switch the neighbours.
          rows[j].parentNode.insertBefore(rows[j], rows[j - 1]);
          shouldSwitch = false;
        }
    }
  }
  if(dir == "desc"){//if it's sort in ascending order now,then we'll change it to descending order.
    dir="asc";
  }else{
    dir="desc";
  }
}
</script>



</body>
</html>
{%  endblock %}
