<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

        <!-- 新 Bootstrap4 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">

        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

        <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
        <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>

        <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->

        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

        <!-- ajax -->
        <script src="http://how2j.cn/study/axios.min.js"></script>

	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <style>

        footer{
  background-color: #323a3a;
  color: #dadada;
  padding-top: 2rem;
}
hr.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
    </style>


    {% block head %}

    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">ZJNUservice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/donation">Donation</a>
               </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">admin</a>
        </li>
          <!-- search -->&emsp;
          <li class="nav-item" style="float:right">
              <form method="get" action="/search">
              <input type="text" name="content" style="border-radius:2px;" placeholder="input keyword to search"/>&nbsp;
              <button class="btn btn-secondary" type="submit">search</button>
              </form>
          </li>
      </ul>
    </nav>


    <div style="font-size: 20px; line-height: 1.8; text-shadow: 0.3px 0.3px black; font-family: Times, serif;" class="col-sm-10 container">
    {% block content %}

    {% endblock %}
    </div>

    <div class="footer bg-primary navbar-fixed-bottom">

    </div>
</body>
 <br>
    <br>
    <br>

<footer>
<div class="container-fluid padding">
	<div class="row text-center">
		<div class="col-md-6">
			<hr class="light">
			<h5>Contact Us</h5>
			<hr class="light">
			<p>Phone: 131-7551-6271</p>
			<p>Email: i.leaderx@hotmail.com</p>
			<p>Add: jinhua, zhejiang, 321000</p>
		</div>
		<div class="col-md-6">
			<hr class="light">
			<h5>About Us</h5>
			<hr class="light">
			<p>Zhejiang Normal University</p>
			<p>Mathematics and computer science college</p>
            <p><a style="text-decoration: none;" href="http://lanlab.org/course/2020s/spm/decide-areas-for-improvement-review.html">The SPM Spring 2020 Team</a></p>

		</div>

		<div class="col-12">
				<hr class="light">
				<h5><a style="text-decoration: none; color:#dadada;" href="http://zjnu.edu.cn/">&copy; ZJNU.com</a></h5>
		</div>
	</div>
</div>
</footer>
</html>
